header {
    @include header;
    img {
        max-width:100%;
        height:auto;
    }
    h1 {
        color: $orangeRed;
        font-weight:100;
        font-size:4em;
        @include line-height;
    }
    h2 {
        color: $white;
        font-weight:900;
        font-size:2.5em;
        @include line-height;
        margin-bottom:70px;
    }
    h3 {
        @include grey_h3;
        @include line-height;
        margin-bottom:50px;
    }
}